@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
}

body {
    margin: 0;
    background: #070B32;
}

#main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* NAV BAR */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    height: 212px;
}

.nav-left img{
    width: 216px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 150%;
    width: 600px;
}

/* TOP SECTION */

.top-section {
    width: 83%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-left h1 {
    font-size: 4em;
    width: 700px;
}

.top-left p {
    font-size: 1.2em;
    line-height: 150%;
    width: 700px;
}

.email-container {
    margin-top: 30px;
}

.email-container input {
    background: #ffffff5b;
    height: 45px;
    width: 250px;
    padding: 0;
    border: none;
    padding: 0 10px 0 10px;
}

.email-container input:hover {
    background: #ffffff62;
}

.email-container ::placeholder {
    color: white;
}

.email-container :focus {
    outline: none;
}

.email-container button {
    background: #0C6FB5;
    height: 45px;
    padding: 0 20px 0 20px;
    border: none;
}

.email-container button:hover {
    cursor: pointer;
    background: #0d78c4;

}

.img-container {
    width: 740px;
    height: 440px;
    position: relative;
}

.top-right img:nth-child(1) {
    position: absolute;
    right: 0;
    width: 554px;
}

.img2-container {
    position: absolute;
    top: 170px;
    left: 45px;
    background: linear-gradient(206.13deg, #0C6FB5 0%, #070B32 30.35%);
    width: 290px;
    height: 310px;
}

.top-right .img2-container img {
    width: 100%;
    margin-right: 7px;
    margin-top: 7px;
}