@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
}

body {
    background: #070B32;
    margin: 0;
}

#main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* NAV BAR */

.navBar {
    z-index: 100; 
    position: fixed; 
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    transition: 0.2s 0.1s ease-out padding;
}

.navBar .inner-navBar  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    width: 83%;
}

.navBar-scrolled {
    background: #070b2e;
    opacity: 98%;
    padding: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    transition: 0.2s 0.1s ease-out padding;
}

.nav-left img{
    width: 216px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 150%;
    width: 50%;
}

/* TOP SECTION */

.top-section {
    margin-top: 200px;
    width: 83%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-left {
    width: 50%;
}

.top-left h1 {
    font-size: 4em;
}

.top-left p {
    font-size: 1.2em;
    line-height: 150%;
    width: 85%;
}

.email-container {
    margin-top: 30px;
}

.email-container input {
    background: #ffffff5b;
    height: 45px;
    width: 250px;
    padding: 0;
    border: none;
    padding: 0 10px 0 10px;
}

.email-container input:hover {
    background: #ffffff62;
}

.email-container ::placeholder {
    color: white;
}

.email-container :focus {
    outline: none;
}

.email-container button {
    background: #0C6FB5;
    height: 45px;
    padding: 0 20px 0 20px;
    border: none;
}

.email-container button:hover {
    cursor: pointer;
    background: #0d78c4;

}

.top-right {
    width: 50%;
    height: 440px;
    position: relative;
}

.top-right .large-img {
    position: absolute;
    right: 0;
    width: 71%;
}

.img2-container {
    position: absolute;
    top: 190px;
    left: 95px;
    background: linear-gradient(206.13deg, #0C6FB5 0%, #070B32 30.35%);
    width: 36%;
    height: 310px;
}

.top-right .img2-container .small-img {
    margin-top: 6px;
    width: 98%;
}

/* SECOND SECTION */

.second-section {
    position: relative;
    width: 83%;
    height: 950px;
    margin-top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.second-top h1 {
    font-size: 2.9em;
    margin: 0;
}

.second-top p {
    width: 70%;
    font-size: 1.2em;
    opacity: 0.8;
    text-align: center;
    line-height: 150%;
    margin-top: 25px;
}

.second-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.second-left {
    width: 34%;
}

.second-left p {
    font-size: 1.2em;
    line-height: 150%;
    opacity: 0.8;
}

.second-left h2 {
    font-size: 1.9em;
    letter-spacing: 1px;
}

.second-left .img-container {    
    width: 100%;
    height: 166px;
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.second-left .img-container .img-box {
    display: flex;
    align-items: flex-end;
    position: relative;
    border-bottom: 10px solid;
    border-image-slice: 1;
    height: 145px;
    width: 31%;
}

.second-left .img-container .img-box img:nth-child(1) {
    position: absolute;
    width: 14%;
    bottom: 10%;
    left: 15%;
}

.second-left .img-container .img-box img:nth-child(2) {
    margin-bottom: -10px;
    width: 100%;
}

.fintech-gradient {
    border-image-source: linear-gradient(90deg, #F3097E 0%, #E18CF0 100%);
}

.fincon-gradient {
    border-image-source: linear-gradient(90deg, #F16F6A 0%, #F9CFA2 100%);
}

.finreg-gradient {
    border-image-source: linear-gradient(90deg, #875FFC 0%, #1ED6DD 100%);
}

.second-center {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-center-hidden {
    display: none;
}

.second-center img {
    width: 43%;
    min-width: 170px;
}

.second-right {
    width: 34%;
    display: flex;
    align-items: center;
}

.second-right .curve-vector-area {
    position: relative;
    width: 265px;
    height: 466px;
}

.second-right .curve-vector-area img {
    position: absolute;
}

.second-right .curve-vector-area img:nth-child(1) {
    width: 150px;
    left: 20px;
}

.second-right .curve-vector-area img:nth-child(2) {
    top: 132px;
    width: 188px;
}

.second-right .curve-vector-area img:nth-child(3) {
    top: 235px;  
    width: 188px;
}

.second-right .curve-vector-area img:nth-child(4) {
    width: 150px;
    top: 248px;
    left: 20px;
}

.second-right .data-area {
    height: 580px;
    width: 100%;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.second-right .data-area div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 86px;
    width: 100%;
}

.second-right .data-area div div {
    min-width: 65px;
    width: 40%;
    position: relative;
}

.second-right .data-area div img:nth-child(1) {
    width: 100%;
}

.second-right .data-area div div img:nth-child(2) {
    position: absolute;
    left: 30%;
    top: 26px;
    width: 43%;
}

.second-right .data-area div p {
    margin-left: 20px;
    font-size: 1.2em;
    line-height: 150%;
}

/* THIRD SECTION */

/* .thid-section {
    background: white;
    height: 100vh;
    width: 100vw;
    
}

#rectangle {

} */

@media  (max-width:1700px) {
    .navBar .inner-navBar{
        width: 88%;
    }

    .top-section {
        width: 88%;
    }

    .second-section {
        width: 88%;
    }
}

@media (max-width:1788px) {
    .second-right .data-area div p {
        font-size: 1.1em;
    }
}

@media (max-width:1607px) {
    .second-right .data-area div p {
        font-size: 1em;
    }
}

@media  (max-width:1510px) {
    .top-left h1 {
        font-size: 3.7em;
    }

    .top-right .large-img {
        top: 8%;
    }

    .second-center {
        width: 28%;
    }

    .second-left {
        width: 36%;
    }

    .second-right {
        width: 36%;
    }
}

@media (max-width:1357px) {
    .top-left h1 {
        font-size: 3.5em;
    }

    .top-right .large-img {
        top: 11%;
    }

    .second-section {
        margin-top: 200px;
    }
}

@media  (max-width:1300px) {
    .top-left h1 {
        font-size: 3em;
    }

    .top-right .large-img {
        top: 14%;
    }

    .second-center {
        width: 24%;
    }

    .second-left {
        width: 38%;
    }

    .second-right {
        width: 38%;
    }
}

@media  (max-width:1200px) {
    .navBar .inner-navBar {
        width: 92%;
    }

    .top-section {
        width: 92%;
    }

    .top-right .large-img {
        top: 12%;
        width: 73%;
    }

    .second-section {
        margin-top: 160px;
    }

    .second-section {
        width: 92%;
    }

    .second-center {
        width: 24%;
    }

    .second-left {
        width: 38%;
    }

    .second-right {
        width: 38%;
    }

    .second-center img {
        min-width: 150px;
    }
}

@media  (max-width:1050px) {
    .top-section {
    }

    .nav-right {
        font-size: 1em;
    }

    .top-left h1 {
        font-size: 2.7em;
    }

    .top-right .large-img {
        top: 16%;
        width: 80%;
    }

    .img2-container {
        top: 230px;
        left: 40px;
    }

    .second-center {
        width: 23%;
    }

    .second-left {
        width: 37%;
    }

    .second-right {
        width: 40%;
    }

    .second-center img {
        min-width: 138px;
    }
}

@media  (max-width:1000px) { 
    .second-bottom {
        flex-direction: column;
        align-items: center;
    }

    .second-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-left .inner-left {
        margin: 20px 0 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .second-left .inner-left .img-container {
        margin: 0;
        width: 47%;
        height: 119px;
    }

    .second-left .img-container .img-box {
        height: 109px;
    }

    .second-left .inner-left p {
        font-size: 1em;
        width: 47%;
    }

    .second-center {
        display: none;
    }

    .second-right {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .second-center-hidden {
        display: block;
        width: 20%;
    }

    .second-right .curve-vector-area {
        width: 15%;
    }

    .second-right .data-area {
        width: 40%;
    }
}

@media  (max-width:914px) {
    .top-left h1 {
        font-size: 2.4em;
    }

    .top-left p {
        font-size: 1.1em;
    }

    .email-container input {
        height: 40px;
        width: 220px;
    }

    .email-container button {
        height: 40px;
        padding: 0 15px 0 15px;
    }

    .top-right .large-img {
        top: 20%;
        width: 75%;
    }
}

@media  (max-width:880px) {
    .nav-right {
        display: none;
    }

    .nav-left img {
        width: 160px;
    }

    .second-right {
        width: 95%;
    }

    .second-center-hidden img {
        width: 130px;
    }

    .second-center-hidden {
        width: 15%;
    }
}

@media  (max-width:813px) {
    .top-left h1 {
        font-size: 2em;
    }

    .email-container input {
        height: 40px;
        width: 200px;
    }

    .email-container button {
        height: 40px;
        padding: 0 10px 0 10px;
    }
}

@media  (max-width:800px) {
    .second-left .inner-left p {
        font-size: 0.95em;
        width: 52%;
    }

    .second-left .inner-left .img-container {
        width: 44%;
    }

    .second-left .img-container .img-box {
        height: 98px;
    }
}

@media  (max-width:750px) {
    .second-left .inner-left {
        display: flex;
        flex-direction: column;
    }

    .second-left .inner-left .img-container {
        margin: 0;
        width: 68%;
        min-width: 411px;
        height: 119px;
    }

    .second-left .img-container .img-box {
        height: 107px;
        width: 27%;
        min-width: 110px;
    }

    .second-left .inner-left p {
        font-size: 1em;
        width: 80%;
        min-width: 435px;
        margin-top: 30px;
        text-align: center;
    }

    .second-right {
        width: 100%;
    }

    .second-center-hidden img {
        width: 110px;
    }

    .second-center-hidden {
        width: 18%;
    }

    .second-right .curve-vector-area {
        width: 18%;
    }
}

@media  (max-width:688px) {
    .top-right {
        display: none;
    }

    .top-left {
        width: 100%;
    }

    .top-left h1 {
        font-size: 3.2em;
    }
}

@media  (max-width:620px) {
    .second-center-hidden {
        display: none;
    }

    .second-right .curve-vector-area {
        width: 15%;
    }

    .second-right .data-area {
        width: 55%;
    }
}

@media  (max-width:542px) {
    .top-left h1 {
        font-size: 2.8em;
    }
}

@media  (max-width:520px) {
    .second-left .inner-left .img-container {
        width: 90%;
        max-width: 411px;
        min-width: 100px;
        height: 102px;
    }

    .second-left .img-container .img-box {
        height: 90px;
        width: 30%;
        max-width: 110px;
        min-width: 50px;
    }

    .second-left .inner-left p {
        font-size: 1em;
        width: 95%;
        min-width: 300px;
        margin-top: 30px;
        text-align: center;
    }

    .second-right .curve-vector-area {
        display: none;
    }

    .second-right .data-area {
        width: 90%;
        margin:0;
    }

    .second-right .data-area div div {
        width: 40%;
        position: relative;
    }

    .second-right .data-area div div img:nth-child(2) {
        left: 38%;
        top: 25px;
        width: 35px;
    }

    .second-right .data-area div p {
        margin-left: 10px;
    }

    .second-right .data-area {
        height: 500px;
    }
}

@media  (max-width:430px) {
    .second-right .data-area div div img:nth-child(2) {
        left: 35%;
        top: 26px;
    }
}

@media  (max-width:370px) {
    .second-right .data-area div div img:nth-child(2) {
        left: 28%;
        top: 26px;
        width: 40%;
    }
}